.model{
    height: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: 'Raleway', sans-serif;
}
.model > h1{
    width: 100%;
    text-align: center;
}
.model__list{
    /* padding: 25px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* gap: 3rem; */
    flex-wrap: wrap;
    align-items: stretch;
    gap: 0;
    height: 100%;
    width: 100%;
}
@media (max-width: 800px) {
    .model__list{
        /* padding: 25px; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* gap: 3rem; */
        flex-wrap: wrap;
        align-items: stretch;
        gap: 0;
        height: 100%;
        width: 100%;
    }
  }
.model__list__car{
    color: white;
   width: 27%;
    padding: 50px;
    aspect-ratio: 4/3;
    background-repeat: no-repeat;
   object-fit: cover;
    background-image: url('../../images/porsche718.webp');
    transition: transform 0.3s ease;
}
@media (max-width: 800px){
   .model__list__car{
    width: 75%;
   }
}
.model__list__car:hover {
    transform: scale(1.05); /* Increase the scale factor to zoom in more */
}
.model__list__car:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#p911{
    background-image: url('../../images/porsche911.webp');
}
#pTaycan{
    background-image: url('../../images/porschetaycan.webp');
}
#pCayenne{
    background-image: url('../../images/porschecayenne.webp');
}
#pMacan{
    background-image: url('../../images/porschemacan.webp');
}
#pPanamera{
    background-image: url('../../images/porschepanamera.webp');
}
.car__btn{
    background-color: #ffffff; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.car__btn:hover{
    cursor: pointer;
}
.car__header button{
    font-weight: 900;
}