.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 10000;
  opacity: 1;
  font-family: 'Raleway', sans-serif;
}

.nav h3 {
  margin: 0;
}

.nav h4 {
  margin: 0;
}

.sidemenu h4:hover {
  cursor: pointer;
}

.prcFont {
  font-family: 'Comforter Brush', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.navMenuIcon,
.navMenu {
  font-size: 20px;
}

.navMenuIcon {
  rotate: 90deg;
  padding: 0 10px 0 10px;
}

.settings {
  width: 20px;
}

.nav .sidemenu {
  display: flex;
  flex-direction: row;
  width: 10vw;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .nav{
    width: 80vw;
  }
}