.right-navbar td{border-width: thin;
    padding: 20px;
    text-transform: uppercase;
    border-style: solid ;
    border-color: black ;
   
    
}
.right-navbar {
    z-index: 2000;
    position: fixed;
    top: 0;
    right: -150px;
    bottom: 0;
    width: 150px; /* adjust this width to your preference */
    background-color: #ffffff; /* change this to the background color you want */
    box-shadow: 0 2px 5px rgba(53, 52, 52, 0.2); /* add a box shadow for a raised effect */
  }

  